{{ with site.Data.partner.bronze }}
  <div class="sponsors-grid">
    {{ range . }}
      <div class="sponsor-card">
        <a href="{{ .homepage_url }}" target="_blank" rel="noopener noreferrer" class="sponsor-link">
          <img class="sponsor-logo" src="/images/partners/bronze/{{ .logo }}" alt="{{ .name }} Logo" />
          <h3 class="sponsor-name">{{ .name }}</h3>
        </a>
        <p class="sponsor-description">{{ .description }}</p>
      </div>
    {{ end }}
  </div>
{{ else }}
  <p>No sponsors found.</p>
{{ end }}
