<section class="home-section tickets" style="padding:0 0 4rem 0;">
  <header class="section-header tickets-title">
    <h2>{{ with .Get "title" }}{{ . }}{{ else }}Tickets{{ end }}</h2>
    {{ with (.Get "subtitle") }}
      <h3 class="tickets-subtitle">{{ . }}</h3>
    {{ end }}
  </header>

  <div class="tickets-cta">
    <a class="btn primary"
       href="{{ .Get "href" }}"
       target="_blank"
       rel="noopener">
       {{ with (.Get "label") }}{{ . }}{{ else }}Buy Tickets{{ end }}
    </a>
  </div>

  
</section>
